<h2>SIGN UP</h2>


<form action="<%= users_url %>" method="POST">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <label for="email">EMAIL:
    <input 
      type="text" 
      id="email"
      name="user[email]"
      value="<%= @user.email %>"
    >
  </label>

  <label for="password">PASSWORD:
    <input 
      type="password"
      id="password"
      name="user[password]"
    >
  </label><br><br>

  <input type="submit" value="Sign up!">
</form>